.card {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;

  form {
    flex: 1;

    .input-group {
      margin-top: 5px;
    }

    .btn {
      margin-top: 10px;
      padding: 10px 50px;
    }
  }
}